<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <!-- use the font -->
    <style>
    </style>
</head>

<body>
    <div class="gmail_default" style="font-family:microsoft jhenghei,sans-serif;font-size:large">
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">家長您好，已收到報名資料。</p>
        <a style="font-family:Arial,Helvetica,sans-serif;font-size:small"
            href="https://register.yuteh.ntpc.edu.tw/form/search">報名資料查詢</a>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"><strong
                style="background-color:rgb(255,194,102);color:rgb(0,41,102)">111學年度小學部招生說明會</strong><strong
                style="color:rgb(0,41,102)">&nbsp;2021/12/25（六）09:00起（08:30開始報到)。</strong></p>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"><strong
                style="color:rgb(0,41,102)">※當天不開放校園停車，敬請家長自行前往或搭乘接駁車。接駁車資訊：2021/12/25（六）
                08:20-08:40，於土城捷運站1號出口上車，逾時不候。</strong></p>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"><strong
                style="color:rgb(230,0,0)">※每位學生限一位家長參加，於說明會前兩天，學校會寄發健康聲明書至家長電子信箱，請家長確實填妥，以利活動參與。</strong></p>

        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"><strong
                style="background-color:rgb(255,194,102);color:rgb(0,41,102)">111學年度小一新生中文面談</strong><strong
                style="color:rgb(0,41,102)">&nbsp;2022/01/08（六）<wbr>09:00起舉辦，報名成功後寄發紙本通知至通訊地址，<wbr>根據通知之面談梯次與編號參加活動，通過面談才可就讀。</strong>
        </p>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">招生註冊組</p>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">專線電話：(02) 82617889 分機215 陳老師、212 蕭老師</p>
    </div>
</body>

</html>