<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring boot email teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <!-- use the font -->
    <style>
    </style>
</head>
<body>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">Thank you for submitting the registration form, we have received your form.</p>
    <a style="font-family:Arial,Helvetica,sans-serif;font-size:small" href="https://register.yuteh.ntpc.edu.tw/form/search?lang=en">Search For Form Details</a>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(0,41,102)">1. 
        </strong>
        <strong style="background-color:rgb(255,194,102);color:rgb(0,41,102)">2023~2024 Senior High School International Class Admission Information Session</strong>
        <strong style="color:rgb(0,41,102)">February 19th, 2023 Sunday From 10:30
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(0,41,102)">※Shuttle Bus Information：08:20~08:40 at Exit 1 of Tucheng MRT Station. No waiting for late-comers.
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(230,0,0)">※Due to the limited number of seats, only one parent per student can attend the Admission information session.</strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(0,41,102)">2. 
        </strong>
        <strong style="background-color:rgb(255,194,102);color:rgb(0,41,102)">Admission Test
        </strong>
        <strong style="color:rgb(0,41,102)">It is expected to be held by mid-March 2023. The event information will be sent by email and text message from February 2023 to notify related matters.
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">If you have any questions about admissions, please call the admissions registration team.</p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">Direct Line: (02) 82617889 Ext.212 Ms. Chen, Ext.215 Ms. Chen</p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"></p>

</body>
</html>