<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring boot email teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <!-- use the font -->
    <style>
    </style>
</head>
<body>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">家長您好，已收到報名資料。</p>
    <a style="font-family:Arial,Helvetica,sans-serif;font-size:small" href="https://register.yuteh.ntpc.edu.tw/form/search?lang=zh-tw">報名資料查詢</a>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="background-color:rgb(255,194,102);color:rgb(0,41,102)">一、112學年度國中部招生說明會</strong>
        <strong style="color:rgb(0,41,102)">2023/02/19(日) 09:00起
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(0,41,102)">※接駁車資訊：當日08:20~08:40 於土城捷運站1號出口上車，逾時不候。
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="color:rgb(230,0,0)">※因應場地人數限制，每位學生限一位家長參加說明會。</strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">
        <strong style="background-color:rgb(255,194,102);color:rgb(0,41,102)">二、性向探索活動
        </strong>
        <strong style="color:rgb(0,41,102)">預計於2023/3月中旬辦理，活動資料將於2023/2月起寄發email及簡訊通知相關事宜。
        </strong>
    </p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">若有招生相關問題，請來電招生註冊組，</p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small">專線電話：(02) 82617889 分機212 陳老師、215 陳老師</p>
    <p style="font-family:Arial,Helvetica,sans-serif;font-size:small"></p>

</body>
</html>