<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring boot email teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <!-- use the font -->
    <style>
    </style>
</head>
<body>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:large">親愛的家長您好，我們已收到您的報名資料，園方自112年12月27日開始以電話或簡訊通知正式的報名序號，最遲於112年1月6日前聯繫完畢，感謝您的耐心等候。</p>
<a style="font-family:Arial,Helvetica,sans-serif;font-size:medium" href="https://register.yuteh.ntpc.edu.tw/form/search?lang=zh-tw">報名資料查詢</a>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:medium">如您需要修正報名資料或尚有其他問題，歡迎您來電洽詢。</p>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:medium">電話：(02)8261-8181分機105、163或104</p>
</body>
</html>